<p>{{currentNumber$ | async}}</p>
<table>
  <tr>
    <td>
      <button (click)="enterOperator('DEL')">DEL</button>
    </td>
    <td>
      <button (click)="enterOperator('C')">C</button>
    </td>
    <td>
      <button (click)="enterOperator('+/-')">+/-</button>
    </td>
    <td>
      <button (click)="enterOperator('%')">%</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="enterNumber('7')">7</button>
    </td>
    <td>
      <button (click)="enterNumber('8')">8</button>
    </td>
    <td>
      <button (click)="enterNumber('9')">9</button>
    </td>
    <td>
      <button (click)="enterOperator('/')">/</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="enterNumber('4')">4</button>
    </td>
    <td>
      <button (click)="enterNumber('5')">5</button>
    </td>
    <td>
      <button (click)="enterNumber('6')">6</button>
    </td>
    <td>
      <button (click)="enterOperator('*')">*</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="enterNumber('1')">1</button>
    </td>
    <td>
      <button (click)="enterNumber('2')">2</button>
    </td>
    <td>
      <button (click)="enterNumber('3')">3</button>
    </td>
    <td>
      <button (click)="enterOperator('-')">-</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="enterNumber('0')">0</button>
    </td>
    <td>
      <button (click)="enterNumber('.')">.</button>
    </td>
    <td>
      <button (click)="enterOperator('+')">+</button>
    </td>
    <td>
      <button (click)="enterOperator('=')">=</button>
    </td>
  </tr>
</table>

<ul>
  <li *ngFor="let article of articles$ | async">
    <p>
      {{article.id}}
    </p>
    {{article.title}}
    <p>
      {{article.descsription}}
    </p>
  </li>
</ul>
<button (click)="loadArticles()">Load articles</button>